## 3.1 data structures and sequences

### tuple
元组长度固定，元素不可替换.

In [1]:
# create a tuple
tup = 3, 4, 5

tup

(3, 4, 5)

In [2]:
# create a tuple of tuples:
nested_tup = (4, 5, 6), (7, 8)

nested_tup

((4, 5, 6), (7, 8))

In [3]:
# convert to a tuple
tuple([4, 0, 2])

(4, 0, 2)

In [4]:
# convert to a tuple 2
tup = tuple('string')

tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
# access to tuple value
tup[0]

's'

In [6]:
# list in tuple can be modified
tup = tuple(['foo',[1, 2], True])
tup[1].append(3)

tup

('foo', [1, 2, 3], True)

In [7]:
# concatenate tuples
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [8]:
# multiply
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [9]:
# unpacking tuples
tup = (4, 5, 6)
a, b, c = tup

b

5

In [10]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup

d

7

In [11]:
# iterate
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [12]:
# *rest
values = 1, 2, 3, 4, 5
a, b, *rest = values  # only use the first two elements to assign a and b

a, b

(1, 2)

In [13]:
rest # rest always be discarded, *rest = *_

[3, 4, 5]

In [14]:
# count
a = (1, 2, 2, 3, 4, 2)

a.count(2)

3

### list

In [15]:
gen = range(10)

gen

range(0, 10)

In [16]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
# append
b_list = ['foo', 'bar', 'baz']
b_list.append('dwarf')

b_list

['foo', 'bar', 'baz', 'dwarf']

In [37]:
# insert
b_list.insert(1, 'red')

b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [38]:
# pop
b_list.pop(2)

'bar'

In [26]:
# remove the first same value
b_list.append('foo')
print(b_list)

b_list.remove('foo')

b_list

['foo', 'red', 'bar', 'baz', 'dwarf', 'foo']

['red', 'bar', 'baz', 'dwarf', 'foo']

In [39]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
    
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

In [53]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [54]:
for word in words:
    letter  = word[0]
    by_letter.setdefault(letter, []).append(word)

by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

In [56]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})