## 3.1 data structures and sequences

### tuple
元组长度固定，元素不可替换.

In [1]:
# create a tuple
tup = 3, 4, 5

tup

(3, 4, 5)

In [2]:
# create a tuple of tuples:
nested_tup = (4, 5, 6), (7, 8)

nested_tup

((4, 5, 6), (7, 8))

In [3]:
# convert to a tuple
tuple([4, 0, 2])

(4, 0, 2)

In [4]:
# convert to a tuple 2
tup = tuple('string')

tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
# access to tuple value
tup[0]

's'

In [6]:
# list in tuple can be modified
tup = tuple(['foo',[1, 2], True])
tup[1].append(3)

tup

('foo', [1, 2, 3], True)

In [7]:
# concatenate tuples
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [8]:
# multiply
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [9]:
# unpacking tuples
tup = (4, 5, 6)
a, b, c = tup

b

5

In [10]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup

d

7

In [11]:
# iterate
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [12]:
# *rest
values = 1, 2, 3, 4, 5
a, b, *rest = values  # only use the first two elements to assign a and b

a, b

(1, 2)

In [13]:
rest # rest always be discarded, *rest = *_

[3, 4, 5]

In [14]:
# count
a = (1, 2, 2, 3, 4, 2)

a.count(2)

3